
@{
    ViewBag.Title = "FIO";
}

<h2>ФИО</h2>
<div>
    <table>
        <tr>
            <td>Код ФИО</td>
            <td>ФИО</td>
            @if (User.Identity.IsAuthenticated)
            {
                <td></td>
                <td></td>
            }
        </tr>
        @foreach (var i in ViewBag.FIO)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.FIO1</td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td> @Html.ActionLink("Редактировать", "EditFIO", new { Id = i.Id }) </td>
                    <td>@Html.ActionLink("Удалить", "DeleteFIO", new { Id = i.Id }) </td>
                }
            </tr>
        }
    </table>
    <br />
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Добавить", "AddFIO")
    }
</div>

